<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaoshu.mapper.BaoXianMapper">

<!--<select id="selectBaoXianGS" parameterType="BaoXianDingDan" resultType="BaoXianGongSi">
    &lt;!&ndash; SELECT b.* FROM baoxiangongsi b
    <if test='list!=null'>
        WHERE gsid=(SELECT gsid FROM xunjiamingxi WHERE bxddid=
        <foreach collection='list' item='u' open='(' separator=',' close=')'>
            #{u})
            </foreach>
        </if>&ndash;&gt;
</select>-->

    <select id="selectBaoXianGS" resultType="BaoXianGongSi" parameterType="BaoXianDingDan">
      SELECT b.* FROM baoxiangongsi b WHERE gsid=(SELECT gsid FROM xunjiamingxi WHERE bxddid=#{bxddid})

    </select>


    
</mapper>
